

.hero-section{
    position: block;
    display: flex;
    width: 100vw;
}

@media(max-width = 1000px){
    .header {
        margin-left: 100px;
        margin-right: 100px;
    }
}

.left-hero{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    width: 50%;
    height: 100%;
    justify-content: center;
}

.right-hero-background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.left-hero-background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.right-hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    position: relative;
    justify-content: center;
}

.abs-header{
    width: 80%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin: 5% 10%;
}

.se-logo{
    width: 187px;
    height: 50px;
    cursor: pointer;
}

.burger-logo{
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.right-hero-content{
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    padding-left: 50px;
    max-width: 670px;
    padding-right: 70px;
    align-items: flex-start;
    text-align: left;
}

.left-hero-content{
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    padding-left: 70px;
    max-width: 670px;
    padding-right: 50px;
    align-items: flex-end;
    text-align: right;
}

.left_hero_title{
    color: white;
    width: fit-content;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 900;
    font-size: 24px;
    line-height: 2.5;
}

.left_hero_subtitle{
    font-family: 'Noto Sans Mono', sans-serif;
    color: black;
    font-size: 36px;
    font-weight: 900;
    line-height: 1;
}

.right_hero_title{
    color: black;
    width: fit-content;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    font-weight: 900;
    line-height: 2.5;
}

.right_hero_subtitle{
    font-family: 'Noto Sans Mono', sans-serif;
    color: white;
    font-size: 36px;
    font-weight: 900;
    line-height: 1;
}

.txt{
    font-family: 'Noto Sans Mono', sans-serif;
    font-size: 22px;
    line-height: 1;
}

.hero_txt{
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 10ch;
}

.left_button{
    color: white;
    padding: 15px 20px;
    text-align: center;
    font-weight: 800;
    background-color: black;
    cursor: pointer;
}

.right_button{
    color: black;
    padding: 15px 20px;
    text-align: center;
    font-weight: 800;
    background-color: white;
    cursor: pointer;
}

.hello-world{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 5% 10%;
}

.hello-world-title{
    display: flex;
    align-items: center;
    font-family: 'Noto Sans Mono', sans-serif;
}

.title{
    color: black;
    text-align: left;
    background-color: white;
    line-height: 1.4;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 900;
}

.arrow{
    padding: 10px 0px 10px 20px;
    font-weight: 900;
    font-size: 36px;
    color: #28eea7;
    background-color: white;
}

.hello-world-circles{
    display: flex;
    gap: 10px;
    align-items: center;
}

.circle{
    width: 24px;
    height: 24px;
    border-radius: 20px;
}

.black{
    background-color: black;
}
.light-grey{
    background-color: lightgrey;
}
.green{
    background-color: #28eea7;
}
.white{
    background-color: white;
}


.youtube-links{
    border: 15px solid #28eea7 ;
    object-fit: fill;
    border-radius: 20px;
    max-width: 1340px;
}

.milestones-content{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 10% 5% 10%;
}

.milestones-left-section{
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 60px 70px;
    border-radius: 20px;
    gap: 20px;
    align-self: stretch;
}

.milestones-right-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-self: stretch;
}

.right{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.mil-card{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    padding: 40px;
    border-radius: 20px;
    gap: 20px;
}

.mil-top{
    color: black;
    text-align: center;
    font-size: 120px;
    font-weight: 900;
    font-family: 'Noto Sans Mono', sans-serif;
}

.mil-mid{
    font-size: 32px;
    font-weight: 900;
    line-height: 1.4;
    font-family: 'Noto Sans Mono', sans-serif;
}

.mil-bottom{
    align-self: stretch;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Noto Sans Mono', sans-serif;
}

.page2{
    width: 100vw;
    z-index: 9999999;
    height: 100vh;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(35, 35, 35, .9);
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: scroll;
}

.page2-container{
    max-width: 1340px;
    min-height: 500px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 120px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    position: absolute;
    top: 190px;
    bottom: auto;
    left: 0%;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
}

.page2-list{
    flex-direction: column;
    flex: 1;
    align-self: stretch;
    align-items: flex-start;
    display: flex;
}

.list{
    color: grey;
    padding: 15px 20px;
    font-size: 24px;
    font-weight: 900;
}

.page2-account{
    width: 100%;
    max-width: 500px;
    grid-row-gap: 20px;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    flex-direction: column;
    align-self: stretch;
    display: flex;
}
.page2-account-small{
    width: 100%;
    max-width: 500px;
    grid-row-gap: 20px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    flex-direction: column;
    align-self: stretch;
    display: flex;
    z-index: 9999999;
    height: 100vh;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(35, 35, 35, .9);
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: scroll;
}
.account-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    background-color: black;
    border-radius: 20px;
    flex: 0 auto;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-start;
    padding: 40px;
    font-size: 14px;
}

.acc-header{
        width: 80%;
        display: flex;
        justify-content: flex-start;
        margin: 5% 0%;
    }


.account-container-txt{
    background-color: rgb(0 0 0 / 0%);
    border-radius: 5px;
    flex-direction: column;
    flex: 1;
    align-self: stretch;
    font-size: 16px;
    display: flex;
}

.hr-factory-container{
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: #31b7f0;
    color: white;
    border-radius: 20px;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    position: static;
    max-width: 100%;
    cursor: pointer;
}

.acc-paragraph{
    margin-bottom: 23px;
    color: white;
    text-align: left;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.4;
}
.acc-btns{
    align-self: stretch;
    color: white;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: rgba(54, 55, 56, .75);
    padding: 15px 20px;
    font-weight: 800;
    line-height: inherit;
    cursor: pointer;
}

.login-btn{
    flex: 0 auto;
    text-align: center;
    color: black;
    background-color: #28eea7;
}

.signup-btn{
    color: #fff;
    line-height: inherit;
    cursor: pointer;
    background-color: #3898ec;
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
}

.acc-arrow{
    padding: 10px 0px 10px 0px;
    font-weight: 900;
    font-size: 36px;
    color: #28eea7;
}

.acc-title{
    color: white;
    text-align: left;
    line-height: 1.4;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 900;
}



img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
    overflow: clip;
}

.hr-img{
    align-self: flex-start;
}

.hr-txt{
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    flex: 0 auto;
    justify-content: center;
    align-items: flex-start;
}

.hr-txt-subsection-1{
    text-align: left;
    font-size: 18px;
    color: white;
    align-self: stretch;
    font-weight: 900;
    line-height: 1.4;
}

.hr-txt-subsection-2{
    text-align: left;
    flex: 0 auto;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    font-size: 12px;
}

body{
    transition: scroll-behavior 1s ease;
    font-family: 'Noto Sans Mono', sans-serif
}

.left_hero_subtitle-container{
    display: flex;
}



.programs{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 198, 53);
    padding-top: 70px;
    padding-bottom: 40px;
    display: block;
    height: 95vh;
    width: 100vw;
}

.programs-header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0% 10% 5% 10%;
}

.programs-title{
    display: flex;
    align-items: center;
    font-family: 'Noto Sans Mono', sans-serif;
    background-color: #363738;
}

.arrow2{
    padding: 10px 0px 10px 20px;
    font-weight: 900;
    font-size: 36px;
    color: #28eea7;
    background-color: #363738;
}
.title2{
    color: white;
    text-align: left;
    line-height: 1.4;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 900;
}

.programs-container{
    max-width: 1340px;
    flex-direction: column;
    display: flex;
    margin: 0 10%;
    height: 60%;
}

.programs-titles{
    vertical-align: top;
    text-align: left;
    cursor: pointer;
    color: #222;
    padding-top: 9px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    max-width: 100%;
    display: flex;
}

.sub-title{
    border-radius: 10px 10px 0 0;
    padding: 20px 50px;
    font-weight: 900;
    color: black;
}

.pressed{
    background-color: #363738;
}

.programs-contents{
    min-height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-color: #363738;
}

.programs-content-wrapper{
    display: flex;
    height: 100%;
    grid-column-gap: 40px;
    border-radius: 20px;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.programs-content{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    grid-column-gap: 40px;
    border-radius: 20px;
    padding: 20px;
}

.opacity{
    opacity: 1;
    transition: opacity 1000ms ease 0s;
}

.content-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content-paragraph{
    align-self: stretch;
    font-size: 14px;
    line-height: 1.5;
    color: #dcdee1;
    text-align: left;
    flex: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Noto Sans Mono', sans-serif;
}

.title-2{
    color: white;
}

.orange-txt{
    color: #ffc635;
}

.green-txt{
    color: #28eea7;
}

.purple-txt{
    color: rgb(152, 100, 218);
}

.pink-txt{
    color: rgb(251, 80, 142);
}

.programs-footer{
    gap: 15px;
    align-self: stretch;
    margin-top: auto;
    display: flex;
    width: 100%;
}

.next-bootcamp{
    display: flex;
    line-height: 1.4;
    text-align: left;
    font-size: 14px;
    background-color: black;
    flex: none;
    display: flex;
    justify-content: flex-start;
    align-self: stretch;
    align-items: center;
    padding: 10px 20px;
    font-weight: 400;
}

.next-bootcamp-date{
    color: white
}

.to-be-confirmed{
    flex: 1;
    margin-left: 10px;
    font-weight: 900;
}

.learn-more{
    width: 100%;
    text-align: right;
    align-self: stretch;
    margin-top: auto;
    line-height: inherit;
    cursor: pointer;
    background-color: black;
    text-decoration: none;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 15px 20px;
    font-weight: 800;
}

.programs-img{
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
}



.testimonials{
    height: 100vh;
    width: 100vw;
    padding-top: 70px;
    padding-bottom: 70px;
    display: block;
}

.block{
    width: 100%;
}
.testimonials-container{
    max-width: 1340px;
    padding-left: 70px;
    padding-right: 70px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    height: 100%;
    position: relative;
    left: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: hidden;
    padding-bottom: 300px;
}

.testimonials-header{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.wrapper{
    z-index: -1;
    width: 400%;
    overflow-x: scroll;
    flex-wrap: nowrap;
    display: flex;
}

.testimonilals-content{
    height: auto;
    width: 100%;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 50px;
    display: flex;
}

.testimonials-content{
    background-color: #363738;
    border-radius: 20px;
    align-items: center;
    padding: 20px 20px 20px 64px;
    display: flex;
}

.testimonial-description{
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    margin-right: 40px;
    display: flex;
}

.quotation-img{
    margin-bottom: 24px;
    display: inline-block;
}

.testimonial-txt{
    color: #fcfcfd;
    margin-bottom: 32px;
    font-weight: 400;
    line-height: 1.4;
}

.testimonial-profile{
    align-items: center;
    display: flex;
}

.profile-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-description{
    gap: 8px;
    color: #fcfcfd;
    flex-direction: column;
    font-weight: 900;
    display: flex;
}

.name{
    font-size: 18px;
    font-weight: 900;
}

.description{
    font-size: 14px;
    font-weight: 400;
}

.testimonials-img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.testimonials-dots{
    height: 40px;
    text-align: center;
    color: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: auto;
    padding-top: 10px;
    margin-top: 24px;
    font-size: 10px;
    position: static;
}

.dot{
    color: rgb(34 34 34 / 40%);
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 100%;
    width: 1em;
    height: 1em;
    cursor: pointer;
    background-color: rgb(34 34 34 / 40%);
    margin: 0 3px .5em;
    transition: background-color .1s, color .1s;
    display: inline-block;
    position: relative;
}


.faqs{
    width: 100vw;
    background-color: #363738;
    padding-top: 70px;
    padding-bottom: 70px;
    display: block;
}

.faqs-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1340px;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
}
.faqs-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.faqs-content{
    height: auto;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 50px;
    display: flex;
}

.faqs-lists{
    align-self: stretch;
    gap: 15px;
    flex-direction: column;
    display: flex;
}

.faq{
    border: 5px solid #232323;
    cursor: pointer;
    border-radius: 10px;
    display: block;
    overflow: hidden;
    text-align: left;
    position: relative;
}

.question{
    height: auto;
    background-color: #232323;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 20px 40px 0px 24px;
    user-select: none;
    cursor: pointer;
    vertical-align: top;
    text-align: left;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    position: relative;
}

.answer{
    display: block;
    background-color: #232323;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    position: static;
    min-width: 100%;
    transition: all 0.5s;
}

.collapse{
    height: 0;
    transition: all 0.5s;
}

.faqs-more{
    margin-top: 24px;
    background-color: #232323;
    flex: 1;
    align-self: stretch;
    color: #fcfcfd;
    text-align: end;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 15px 20px;
    font-weight: 800;
    line-height: inherit;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

p{
    color: #fff;
}

.question > button{
    content: "î˜ƒ";
}

.ans{
    width: 1em;
    height: 1em;
    margin: auto 20px auto auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    font-weight: 900;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    line-height: 1;
    font-family: 'webflow-icons';
    transition: all 0.5s;
}

.faq-txt{
    color: #fff;
}

li{
    display: flex;
    justify-content: flex-start;
}

.progrm-name{
    color: #28eea7;
}